.card {
width:300px;
height:300px;
padding-right: 5px;
border-radius: 20px;}
.item-card{
position: relative;
width: 100%;
height: 100%;
top: 0%;
left: 0%;
background-color: green;

}
.item-card{
    position:relative;
    border-radius: 20px;
 
top: 0%;
left: 0%;
    background-color:black;



}
.item-card img{
    position: relative;
    transform: translate(-50%,-50%); 
    left: 50%;
    top: 45%;
    width: 100%;
    height: 100%;
}
.item-card p{
    position: relative;
    transform: translate(-50%,-50%); 
    left: 0%;
    top: 10%;
    z-index: 300;
    text-align: center;
    font-size: 30px;
    font-weight: lighter;
    color: white;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
.item-card button {
    width: 200px;
    height: 40px;
    position: relative;

    transform: translate(-50%,-50%); 
    background-color: #ffac81;
background-image :linear-gradient(315deg, #ffac81 0%, #ff928b 74%);
    left: 18%;
    top: -30%;
    border: none;
    opacity: 0.8;
    border-radius: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.item-list{
    position:relative;
   width: 100%;
   height: 100%;
top: 0%;
left: 0%;
    background-color: black;
    border-radius: 20px;


}

.item-list .listItem{
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: proximity;
    width: 100%;
    padding-top: 30px;
    height: 80%;
    padding-left:  20px;
    padding-right:  20px;
    
}
.listItem::-webkit-scrollbar {
    display: none;
  }


.item-list .listItem div{ 
    position: relative;
    transform: translate(-50%,-50%); 
    left: 50%;
    z-index: 300;
  
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
    color: white;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
display: flex;
justify-content:space-between;
}
.item-list button{
    width: 300px;
    height: 40px;
    position: relative;
    transform: translate(-50%,-50%); 
    background-color: #ffac81;
background-image :linear-gradient(315deg, #ffac81 0%, #ff928b 74%);
    left: 50%;
    top: 10%;
    border: none;
    opacity: 0.8;
    border-radius: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}








.item-list div input{
    width: 30px;
    height: 30px;
    background-color: green;
    color: #861657;
    border-radius: 20px;
}
input[type="checkbox"]:checked:after{
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    top: -47%;
    content: "";
    background:white;
  }
  input[type="checkbox"]:checked:before{
    position: relative;

    top: 50%;
    left: 50%;
    z-index: 100;
    transform: translate(-50%,-50%);
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 2px;
    content: "";
    background: #FBC02D;
  }